<!DOCTYPE html5>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container w-100 text-white" id="custom-content">
        <% if(wishList.length>0) { %>
            <div class="row w-100">
                <h1 class="text-center w-100">WishList</h1>
            </div>
            <div class="row w-100 border-bottom border-dark ">
                <div class="col-6 p-0 col-md-3">
                    <h4 class="text-primary">Title</h4>
                </div>
                <div class="col-6 p-0 col-md-3">
                    <h4 class="text-primary">URL</h4>
                </div>
                <div class="col-6 p-0 col-md-3">
                    <h4 class="text-primary">Price</h4>
                </div>
                <div class="col-6 p-0 col-md-3">
                    <h4 class="text-primary">Priority</h4>
                </div>
            </div>
            <div class="row border-bottom border-primary w-100">
                <div class="col-6 col-md-3 p-0">
                    <div class="row">
                        <h5 class="heading">{{wli_title}}</h5>
                    </div>
                </div>
                <div class="col-6 col-md-3 p-0">
                    <a href="{{wli_url}}" target="_blank">
                        <h5 class=" text-right">{{wli_url}}</h5>
                    </a>
                </div>
                <div class="col-6 col-md-2 p-0">
                    <h5 class=" text-right">&#163;{{wli_price}}</h5>
                </div>
                <div class="col-6 col-md-2 p-0">
                    <h5 class=" text-right">{{wli_priority}}</h5>
                </div>
                <div class="col-6 col-md-1 p-0">
                    <button>
                        <i class="medium material-icons">edit</i>
                    </button>
                </div>
                <div class="col-6 col-md-1 p-0">
                    <button>
                        <i class="medium material-icons">delete</i>
                    </button>
                </div>
            </div>
            <% } else { %>
                <div class="row mt-5 pt-5">
                    <div class="col-12">
                        <h3 class="text-center">The wishList is empty</h3>
                        <div class="row mt-5 pt-5">
                            <button class="btn text-center m-auto btn-success">
                                Add a new Item
                            </button>
                        </div>
                    </div>
                </div>
                <% } %>
    </div>
</body>

</html>